$color--primary-blue: #0075ff;
$color--primary-pink: #ff00d9;
$color--primary-light: #f2f3f6;
$color--primary-dark: #050c27;
$color--primary-gray: #505d78;
$color--primary-bgray: #3e4b60;
$color--primary-blue-gray: #2c313bff;

$color--light: #cbdaeb;
$color--light-transparent: #535988;
$color--light-moon: #97afd0;

$color--dark: #0d0b31;

:root {
  --color-bg-1: #ffffff;
  --color-bg-2: #efeff2;
  --color-bg-3: #ffffff;
  --color-bg-4: #fcfdff;
  --color-bg-5: #f2f4f7;
  --color-bg-6: #ffffff;
  --color-bg-7: #b5c0d0ff;
  --color-border: #ccd4df;
  --color-border-2: #e7eaef;
  --color-text-standard: #0e1013;
  --color-text-standard-2: #0e1013;
  --color-text-standard-3: #171a1e;
  --color-text-standard-4: #2c313bff;
  --color-link-menu: #2f363f;
  --color-bg-menu: #f2f3f6;
  --color-border-menu: #e3e6eb7a;
  --color-bg-hover: #f2f3f6;
  --color-bg-hover-2: #ffffff;
  --color-text-description: #aaaebc;
  --color-text-description-2: #bec2cf;
  --color-bg-message-1: #eaeef5;
  --color-bg-message-2: #d1e6ff;
  --color-modal-button: #e2e3ea;
  --color-modal-button-blue: #e1e9f9;
  --color-modal-button-hover: #dbdce3;
  --color-modal-button-blue-hover: #d6e4fe;
  --body-bg: #fff;
  --body-color: #0d0b31;
  --color-bg-ico-alt: #dce1e8;
  --bg-context-menu-hover: #f2f3f686;
  --bg-context-menu: #ffffff;
  --color-context-menu: #2d3645;
  --transparent-select-blue: #0075ff12;
  --transparent-select-blue-2: #0077ff1d;
  --transparent-select-text-blue: #0077ff1d;
  --blur-bg-1: #ffffff00;
  --color-scroll-message: #dbdfe3;
  --bg-transparent-blur: #ffffff96;
  --bg-transparent-blur-2: #ffffff31;
  --color-bg-status-bar: #29324b;
  --color-bg-status-bar-2: #ebecf0;
  --color-text-data-profile: #606778;
  --color-text-data-profile-2: #242939;
  --color-bg-file-media: #ffffff96;
  --color-bg-file-download: #00000011;
  --download-spinner-color: #21212c;
  --download-spinner-bg: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --color-bg-1: #121c27;
  --color-bg-2: #0f1620;
  --color-bg-3: #0a0e1a;
  --color-bg-4: #0a0e18;
  --color-bg-5: #101521;
  --color-bg-6: #0a0e18;
  --color-bg-7: #0d151e;
  --color-border: #1c242c;
  --color-border-2: #202931;
  --color-text-standard: #f2f3f6;
  --color-text-standard-2: #d3d5d9;
  --color-text-standard-3: #cacfdc;
  --color-text-standard-4: #b5c0d0ff;
  --color-link-menu: #aeb4bc;
  --color-bg-menu: #080c16;
  --color-border-menu: #081627c9;
  --color-bg-hover: #0f1722;
  --color-bg-hover-2: #0c1118;
  --color-text-description: #6d7b8d;
  --color-text-description-2: #8d96a1;
  --color-bg-message-1: #1b2633;
  --color-bg-message-2: #122f56;
  --color-modal-button: #ffffff;
  --color-modal-button-blue: #e1e9f9;
  --color-modal-button-hover: #c6d9f1;
  --color-modal-button-blue-hover: #d6e4fe;
  --body-bg: #080c16;
  --body-color: #f2f3f6;
  --color-bg-ico-alt: #0f1421;
  --bg-context-menu-hover: #111723;
  --bg-context-menu: #0e141e;
  --color-context-menu: #a9b7c3;
  --transparent-select-blue: #0075ff12;
  --transparent-select-blue-2: #0077ff1d;
  --transparent-select-text-blue: #0077ff4f;
  --blur-bg-1: #2450861b;
  --color-scroll-message: #171e29;
  --bg-transparent-blur: #080c168a;
  --bg-transparent-blur-2: #080c1651;
  --color-bg-status-bar: #29324b;
  --color-bg-status-bar-2: #060912;
  --color-text-data-profile: #71798b;
  --color-text-data-profile-2: #b0b9c5;
  --color-bg-file-media: #00000047;
  --color-bg-file-download: #00000045;
  --download-spinner-color: #fff;
  --download-spinner-bg: rgba(255, 255, 255, 0.3);
}
