@use "@/styles/variables" as *;
:root {
  --color: rgb(37, 40, 53);
  --color--profile-link: #fff;
  --color--profile-link-hover: #040a1fb8;
  --color--transparent: #8b8ca0;
  --footer--bg-color: #ffffffb8;
  --color--dropdown-bg: #ffffff;
  --nav-bg: #f7f7f7;
  --bg-hover-menu: #02081805;
  --bg--grid: linear-gradient(to right, #00000009 1px, transparent 1px),
    linear-gradient(to bottom, #00000009 1px, transparent 1px);
}
[data-theme="dark"] {
  --color: #{$color--light};
  --color--profile-link: #fff;
  --color--profile-link-hover: #{$color--light};
  --color--transparent: #97a1b5 !important;
  --footer--bg-color: #040a1fb8;
  --color--dropdown-bg: #{$color--primary-dark};
  --nav-bg: #0b1024;
  --bg-hover-menu: #02081854;
  --bg--grid: linear-gradient(to right, #ffffff09 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff09 1px, transparent 1px);
}

.Footer {
  overflow: hidden;
  position: relative;
  .is-blur-1 {
    position: absolute;
    z-index: -1;
    background-color: $color--primary-blue;
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    // filter: blur(180px);
    top: -200px;
    left: -200px;
  }
  .is-blur-2 {
    position: absolute;
    z-index: -1;
    background-color: $color--primary-pink;
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    // filter: blur(180px);
    right: -200px;
    bottom: -200px;
  }
  footer {
    left: 0;
    right: 0;
    z-index: 9999999;
    border-top: 1px solid #5e68831d;
    color: var(--color--transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    backdrop-filter: blur(110px);
    background: var(--footer--bg-color);
    font-family: "NunitoSans", sans-serif;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: var(--bg--grid);
      background-size: 60px 60px;
      pointer-events: none;
    }
    @media screen and (max-width: 500px) {
      padding: 25px;
    }
    & .container {
      display: flex;
      gap: 20px;
      margin-bottom: 70px;
      @media screen and (max-width: 1240px) {
        gap: 40px;
        flex-wrap: wrap;
      }
      nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        @media screen and (max-width: 1240px) {
          flex: 1 1 calc(100% / 3 - 20px);
        }
        @media screen and (max-width: 430px) {
          flex: 1 1 100%;
        }
        h2 {
          font-size: 20px;
          color: var(--color);
          margin-top: 0;
          @media screen and (max-width: 1240px) {
            margin-bottom: 10px;
          }
          @media screen and (max-width: 705px) {
            margin-bottom: 0px;
            font-size: 17px;
          }
        }
        a {
          color: var(--color);
          opacity: 0.8;
          text-decoration: none;
          transition: 0.15s ease-in-out color;
          &:hover {
            color: $color--primary-blue;
          }
          @media screen and (max-width: 705px) {
            font-size: 13px;
          }
        }
      }
    }
    & .logo {
      display: flex;
      gap: 20px;
      img {
        max-width: 75px;
        width: 100%;
        user-select: none;
        pointer-events: none;
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 5px;
        @media screen and (max-width: 705px) {
          font-size: 13px;
          small {
            font-size: 11px;
          }
        }
      }
    }
    .copyright {
      margin-top: 40px;
      p {
        &:first-child {
          margin-top: 0;
          margin-bottom: 5px;
        }
        &:last-child {
          margin-top: 0;
          margin-bottom: 0;
        }
        @media screen and (max-width: 705px) {
          font-size: 11px;
        }
      }
    }
  }
}
