@use "@/styles/variables" as *;
.line {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-status-bar-2);
  color: var(--color-text-standard-2);
  position: relative;
  z-index: 999999;
  a {
    text-decoration: none;
    user-select: none;
    color: var(--color-text-description);
    font-size: 13px;
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
}
.FlexContainer {
  display: flex;
  width: 100%;
  .bg-image-pattern {
    width: 100%;
    height: calc(100vh - 40px);
    background-image: url("/assets/images/bg-pattern.svg");
    background-position: center;
    background-repeat: repeat;
    position: fixed;
    top: 40px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    &.is-system {
      opacity: 0.1;
    }
  }
  .no-chat-selected {
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-primary);
    color: var(--text-secondary);
    transition: width 0.1s linear;
    &.is-active {
      width: calc(100% - 250px - 300px);
      &.is-active-2 {
        width: calc(100% - 250px - 70px);
      }
    }
    &.is-active-2 {
      width: calc(100% - 250px - 300px);
    }
    &:not(.is-active) {
      width: calc(100% - 70px - 300px);
      &.is-active-2 {
        width: calc(100% - 70px - 70px);
      }
    }
    @media screen and (max-width: 1150px) {
      width: 100% !important;
    }

    .no-chat-content {
      text-align: center;
      p {
        margin: 10px;
        padding: 5px 10px;
        border-radius: 999px;
        font-size: 13px;
        user-select: none;
        background-color: var(--bg-transparent-blur);
        backdrop-filter: blur(23px);
        border: 1px solid var(--color-bg-2);
        color: var(--color-text-standard-2);
      }
    }

    @media (max-width: 1150px) {
      display: none;
    }
  }
}
