.EditBox {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  border-top: 1px solid var(--color-border);
  backdrop-filter: blur(5px);
  background-color: var(--blur-bg-1);
  justify-content: space-between;
  width: 100%;
  .left {
    display: flex;
    gap: 10px;
    svg.is-1 {
      color: var(--color-text-description);
      font-size: 1.4em;
    }
    div.is-2 {
      .name {
        font-size: 15px;
        display: inline-flex;
        gap: 5px;
        color: var(--color-text-standard-2);
        span {
          font-size: 14px;
          color: var(--color-text-description);
        }
      }
    }
    .text {
      width: 100%;
      font-size: 13px;
      color: var(--color-text-description);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 500px;
    }
  }
  .right {
    span {
      cursor: pointer;
      color: var(--color-text-description);
      padding: 10px;
      border-radius: 999px;
      transition: background-color 0.1s ease-in-out;
      display: flex;
      &:hover {
        background-color: var(--color-bg-hover-2);
      }
      svg {
        font-size: 1.4em;
      }
    }
  }
}
