.emoji-icon-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.emoji-icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.emoji-loader {
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-top-color: var(--primary-color, #0a84ff);
  animation: emoji-spin 0.8s linear infinite;
  box-sizing: border-box;
}

@keyframes emoji-spin {
  to {
    transform: rotate(360deg);
  }
}
